<div class="jobs-listing section-padding">
  <div class="container">
    <div class="job-topbar">
      <span class="pull-left">Filter jobs by</span>
      <ul class="nav nav-tabs job-tabs" role="tablist">
        <li><%= @job.count %> Total jobs</li>
        <li role="presentation" class="active"><a href="#four-colum" aria-controls="four-colum" role="tab" data-toggle="tab"><i class="fa fa-th" aria-hidden="true"></i></a></li>
        <!-- <li role="presentation"><a href="#two-column" aria-controls="two-column" role="tab" data-toggle="tab"><i class="fa fa-th-list" aria-hidden="true"></i></a></li> -->
      </ul>
    </div>

    <div class="list-menu text-center clearfix">
      <ul class="tr-list">
        <li>
          <%= simple_form_for('', url: job_vacancies_path, :method => :get, html: { class: 'custom' }, defaults: {required: false}) do |f|%>
            <%= f.fields_for :search do |search_fields| %>
              <li> Category:
                <%= search_fields.input :category_id, :label => false,  collection: Category.all.order(:name)%></li>
              </li>
        <li class="dropdown tr-change-dropdown">
          Level:
          <a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">Mid</span><i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu tr-change">
          </a></li>
            <li><a href="#">Mid Level</a></li>
            <li><a href="#">Entry Level</a></li>
          </ul>
        </li>
        <li class="dropdown tr-change-dropdown">
          Org Type:
          <a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">Private</span><i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu tr-change">
            <li><a href="#">Private</a></li>
            <li><a href="#">public</a></li>
          </ul>
        </li>
        <li class="dropdown tr-change-dropdown">
          Location:
          <a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">USA</span><i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu tr-change">
            <li><a href="#">USA</a></li>
            <li><a href="#">London</a></li>
            <li><a href="#">New York</a></li>
          </ul>
        </li>
        <li class="dropdown tr-change-dropdown">
          Salary:
          <a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">0 - 50K</span><i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu tr-change">
            <li><a href="#">0 - 50K</a></li>
            <li><a href="#">50k - 70K</a></li>
            <li><a href="#">70k - 85K</a></li>
          </ul>
        </li>
        <div class="btn-group filter-btn-group">
          <%= f.button :submit, 'Filter', class: 'btn btn-md btn-info filter' %>
          <%= link_to 'Clear Filter', job_vacancies_path, class: 'btn btn-md btn-default' %>
        </div>
      <% end %>
    <% end %>
      </ul>
    </div><!-- /.list-menu -->
