= simple_form_for(@job, html: {class: 'form-horizontal'}) do |f|
  = f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a category"}
  = f.input :title, label: "Job Title"
  = f.input :description, label: "Job Description"
  = f.collection_select :salary_id, Salary.all, :id, :salary, {prompt: "Choose a salary"}

  = f.input :company, label: "Company"

  %br
  = f.button :submit, label: "Submit"
