<div class="container">
  <br>
  <%= render partial: "pages/browse_job_category"%>
  <div class="section-title" >
    <h1 class = "text-center"> Latest Jobs </h1>
  </div>
  <div class="tab-content tr-job-posted">
    <div role="tabpanel" class="tab-pane two-column active in" id="two-column">
      <div class="row">
        <% @jobs.each do |job| %>
          <div class="col-12 col-lg-6">
            <div class="job-item">
              <div class="job-info">
                <div class="clearfix">
                  <!-- <div class="company-logo">
                    <img src="images/job/1.png" alt="images" class="img-responsive">
                  </div> -->
                  <div class="row justify-content-between">
                    <div class="col-8">
                      <span class="tr-title">
                        <%=  job.title%> 
                      </span>
                    </div>
                    <div class="col-3">
                      <span class="btn btn-primary"><%= job.category.try(:name)%></span>
                    </div>
                  </div>
                  <div class="row justify-content-start">
                    <div class="col-12">
                      <br>
                      <p> <%= truncate"#{job.description}", :length => 200, separator: ' '%>
                        <% if job.description.length > 200 %>
                          <%= link_to truncate('Read More'), job_details_path(job.id), :style=>'color: #3d464d;'  %>
                      <% else %>
                        <%= job.description %> <%= link_to truncate('More Info'), job_details_path(job.id), :style=>'color: #3d464d;'  %>
                      <% end %>

                      </p>
                    </div>
                  </div>
                </div>
                <ul class="tr-list job-meta">
                  <% if current_candidate.nil? %>
                    <li><%= link_to "Apply", candidate_session_path(id: job.id, category_id: job.category.try(:id)), class: "btn btn-apply" %> </li>
                  <% else %>
                    <li><%= link_to "Apply", apply_for_job_path(id: job.id, category_id: job.category.try(:id)), class: "btn btn-apply" %> </li>
                  <% end %>
                  <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span><%= job.location%></li>
                  <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span><%= job.experience_level.try(:level)%></li>
                  <li><span><i class="fa fa-money" aria-hidden="true"></i></span><%=job.salary.try(:salary)%></li>

                </ul>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
          <!-- <ul class="tr-list job-meta">
            <li><span><i class="fa fa-map-signs" aria-hidden="true"></i></span>< job.location%></li>
            <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>< job.job_level.level%></li>
            <li><span><i class="fa fa-money" aria-hidden="true"></i></span>=job.job_salary.salary%></li>
             if current_candidate.nil? %>
              <li>< link_to "Apply", candidate_session_path, class: "btn btn-primary" %> </li>
             else %>
              <li>= link_to "Apply", job_details_path(job.id), class: "btn btn-primary" %> </li>
             end %>
          </ul>
            </div>
          </div>
        </div>
        end%>
      </div>
    </div>
  </div>
</div> -->
