<div class="tr-breadcrumb bg-image section-before">
 		<div class="container">
 			<div class="breadcrumb-info text-center">
        <div class="avatar mx-auto d-block"></div>
 				<div class="page-title">
 					<h1><%= @job.title %></h1>
 				</div>
 				<ul class="tr-list job-meta list-inline">
   					<li><i class="fa fa-map-signs" aria-hidden="true"></i><%= @job.location %></li>
   					<li><i class="fa fa-line-chart" aria-hidden="true"></i><%= @job.experience_level.try(:level)%> Level </li>
   					<li><i class="fa fa-money" aria-hidden="true"></i><%= @job.salary.try(:salary)%></li>
   					<li><i class="fa fa-tags" aria-hidden="true"></i><%= @job.category.try(:name) %></li>
   					<!-- <i class="fa fa-hourglass-start" aria-hidden="true"></i>Application Deadline : June 27, 2017</li> -->
   				</ul>
 			</div>
 		</div><!-- /.container -->
 	</div><!-- /.tr-breadcrumb -->

<div class="job-details section-padding">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-md-9">
				<div class="job-summary section">
					<span class="tr-title">Job Summary</span>
					<p><%= simple_format(@job.description)%> </p> <br>
					<span>Key Responsibilities:</span>
					<p><%=  simple_format(@job.responsibilities)%></p>
          <span>Minimum Requirements</span>
          <p><%=  simple_format(@job.requirements)%></p>

				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="tr-sidebar">
					<div class="widget-area">
						<div class="widget short-info">
							<h3 class="widget_title">Short Info</h3>
							<ul class="tr-list">
								<li><div class="pull-left"><i class="fa fa-calendar" aria-hidden="true"></i></div> <div class="media-body"><span>Published:</span><%=time_ago_in_words(@job.updated_at) %> ago</div></li>
								<li><div class="pull-left"><i class="fa fa-industry" aria-hidden="true"></i></div> <div class="media-body"><span>Industry:</span><%= @job.category.try(:name)%></div></li>
								<li><div class="pull-left"><i class="fa fa-line-chart" aria-hidden="true"></i></div> <div class="media-body"><span>Experience:</span><%= @job.experience_level.try(:level)%></div></li>

              	<li><div class="pull-left"><i class="fa fa-map-signs" aria-hidden="true"></i></div> <div class="media-body"><span>Location:</span><%= @job.location %></div></li>

                <li><div class="pull-left"><i class="fa fa-money" aria-hidden="true"></i></div> <div class="media-body"><span>Salary:</span><%= @job.salary.try(:salary)%></div></li>



							</ul>
						</div><!-- /.widger -->

					</div><!-- /.widget-area -->
				</div><!-- /.tr-sidebar -->
			</div>
		</div><!-- row -->
  </div>
</div>
<%= render partial: "pages/add_resume_banner" %>
<%= render partial: "layouts/footer" %>
