<div class="jobs-listing section-padding">
  <div class="container">
    <div class="job-topbar">
      <span class="pull-left">Filter jobs by</span>
      <ul class="nav nav-tabs job-tabs" role="tablist">
        <li> Total jobs</li>
        <li role="presentation" class="active"><a href="#four-colum" aria-controls="four-colum" role="tab" data-toggle="tab"><i class="fa fa-th" aria-hidden="true"></i></a></li>
        <!-- <li role="presentation"><a href="#two-column" aria-controls="two-column" role="tab" data-toggle="tab"><i class="fa fa-th-list" aria-hidden="true"></i></a></li> -->
      </ul>
    </div>

    <div class="list-menu text-center clearfix">
      <ul class="tr-list">
        <li>
          <%= simple_form_for('', url: clients_path, :method => :get, html: { class: 'custom' }, defaults: {required: false}) do |f|%>
            <%= f.fields_for :search do |search_fields| %>
              <li> Category:
                <%= search_fields.input :live, as: :radio, collection: Client.statuses.keys.map(&:to_sym),  input_html: { value: [params[:search][:statues], params[:search][:statues]] }, required: false, as: :check_boxes %>
              </li>


        </li>

        <div class="btn-group filter-btn-group">
          <%= f.button :submit, 'Filter' %>
          <%= link_to 'Clear Filter', clients_path, class: 'btn btn-md btn-default' %>
        </div>
      <% end %>
    <% end %>
      </ul>
    </div><!-- /.list-menu -->
