.tr-category.section-padding
  .container
    .section-title
      %h1 Browse Jobs By Category
    %ul.category-list.tr-list
      - @categories.each do |category|
        %li
          = link_to job_category_path(:id=> category.id) do
            %span.icon
              - if category.name == "Engineering"
                %img.img-responsive= image_tag ("artificial-intelligence.png")
              - elsif category.name == "Manufacturing"
                %img.img-responsive= image_tag ("factory.png")
              - elsif category.name == "Commercial"
                %img.img-responsive= image_tag ("conveyor.png")
              - elsif category.name == "Industrial"
                %img.img-responsive= image_tag ("industry.png")
              - elsif category.name == "Construction"
                %img.img-responsive= image_tag ("engineer.png")
              - elsif category.name == "Commercial Department"
                %img.img-responsive= image_tag ("company.png")
              - elsif category.name == "Permanent"
                %img.img-responsive= image_tag ("handshake.png")
              - elsif category.name == "Temporary"
                %img.img-responsive= image_tag ("businessman.png")
              - elsif category.name == "Oil and Gas Industry"
                %img.img-responsive= image_tag ("oil-platform.png")
              - elsif category.name == "Sales & Marketing"
                %img.img-responsive= image_tag ("computer.png")
              - else
                %img.img-responsive= image_tag ("conveyor.png")

              %span.category-title= category.name
              %span.category-quantity
              = Job.where(category_id: category.id).count
