	<div class="tr-banner section-before bg-image">
		<div class="container">
			<div class="banner-content text-center">
				<h1>The Easiest Way to Get Your New Job</h1>
				<h2>We offer 12000 jobs vacation right now</h2>
				<div class="banner-form">
					<form action="#">
						<input type="text" class="form-control" placeholder="Job Keyword">
						<div class="dropdown tr-change-dropdown">
							<a data-toggle="dropdown" href="#" aria-expanded="false"><span class="change-text">Location</span><i class="fa fa-angle-down"></i></a>
							<ul class="dropdown-menu tr-change">
								<li><a href="#">Location</a></li>
								<li><a href="#">Location 1</a></li>
								<li><a href="#">Location 2</a></li>
								<li><a href="#">Location 3</a></li>
							</ul>
						</div><!-- /.category-change -->
						<button type="submit" class="btn btn-primary" value="Search">Search</button>
					</form>
				</div><!-- /.banner-form -->
			</div><!--/. banner-content -->
		</div><!-- /.container -->
	</div><!-- /.tr-banner -->
  <%= render partial: "pages/browse_job_category"%>
	</div><!-- /.tr-category -->
  <%= render partial: "pages/testimonials" %>
	<%= render partial: "pages/fun_fact" %>
	<%= render partial: "pages/steps_to_sign_up" %>
	<%= render partial: "pages/add_resume_banner" %>




	<div class="tr-recent-news section-padding">
		<div class="container">
			<div class="section-title">
				<h1>Recent News Articles</h1>
			</div>
			<div class="blog-content">
				<div class="tr-post">
					<div class="entry-header pull-left">
						<div class="entry-thumbnail">
							<a href="#"><img src="images/blog/1.jpg" alt="images" class="img-responsive"></a>
						</div>
					</div>
					<div class="entry-content media-body">
						<h2 class="entry-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h2>
						<ul class="entry-meta tr-list">
						   <li><i class="fa fa-user"></i>By <a href="#">owen williams </a></li>
						   <li><i class="fa fa-clock-o"></i> <a href="#">Aug 1, 2017</a></li>
						   <li><i class="fa fa-comment-o"></i> <a href="#">189 Comments</a></li>
						</ul>
					</div>
					<div class="blog-post">
					</div>
				</div><!-- /.tr-post -->
				<div class="tr-post">
					<div class="entry-header pull-left">
						<div class="entry-thumbnail">
							<a href="#"><img src="images/blog/2.jpg" alt="images" class="img-responsive"></a>
						</div>
					</div>
					<div class="entry-content media-body">
						<h2 class="entry-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h2>
						<ul class="entry-meta tr-list">
						   <li><i class="fa fa-user"></i>By <a href="#">owen williams </a></li>
						   <li><i class="fa fa-clock-o"></i> <a href="#">Aug 1, 2017</a></li>
						   <li><i class="fa fa-comment-o"></i> <a href="#">189 Comments</a></li>
						</ul>
					</div>
					<div class="blog-post">
					</div>
				</div><!-- /.tr-post -->
				<div class="tr-post">
					<div class="entry-header pull-left">
						<div class="entry-thumbnail">
							<a href="#"><img src="images/blog/3.jpg" alt="images" class="img-responsive"></a>
						</div>
					</div>
					<div class="entry-content media-body">
						<h2 class="entry-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit</a></h2>
						<ul class="entry-meta tr-list">
						   <li><i class="fa fa-user"></i>By <a href="#">owen williams </a></li>
						   <li><i class="fa fa-clock-o"></i> <a href="#">Aug 1, 2017</a></li>
						   <li><i class="fa fa-comment-o"></i> <a href="#">189 Comments</a></li>
						</ul>
					</div>
				</div><!-- /.tr-post -->
			</div>
		</div><!-- /.container -->
	</div><!-- /.tr-recent-news -->





	<div class="tr-download-app bg-image section-padding section-before">
		<div class="container text-center">
			<h1>Download on App Store</h1>
			<div class="app-content">
				<div class="row">
					<div class="col-sm-4">
						<div class="download-app">
							<a href="#">
								<div class="download-image">
									<img src="images/icons/app1.png" alt="Image" class="img-responsive">
								</div>
								<div class="download-info">
									<span>available on</span>
									<strong>Google Play</strong>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="download-app">
							<a href="#">
								<div class="download-image">
									<img src="images/icons/app2.png" alt="Image" class="img-responsive">
								</div>
								<div class="download-info">
									<span>available on</span>
									<strong>App Store</strong>
								</div>
							</a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="download-app">
							<a href="#">
								<div class="download-image">
									<img src="images/icons/app3.png" alt="Image" class="img-responsive">
								</div>
								<div class="download-info">
									<span>available on</span>
									<strong>Windows Store</strong>
								</div>
							</a>
						</div>
					</div>
				</div><!-- /.row -->
			</div><!-- /.app-content -->
		</div><!-- /.contaioner -->
	</div><!--/. tr-download-app -->

	<div class="footer">
		<div class="footer-top section-padding">
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<div class="footer-widget">
							<h3>About Us</h3>
							<ul class="tr-list">
								<li><a href="#">About Seeker</a></li>
								<li><a href="#">Terms & Conditions</a></li>
								<li><a href="#">International Partners</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Feedback</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="footer-widget">
							<h3>Job Seekers</h3>
							<ul class="tr-list">
								<li><a href="#">Create Account</a></li>
								<li><a href="#">Career Counseling</a></li>
								<li><a href="#">My Bdjobs</a></li>
								<li><a href="#">FAQ</a></li>
								<li><a href="#">Video Guides</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="footer-widget">
							<h3>Employers</h3>
							<ul class="tr-list">
								<li><a href="#">Create Account</a></li>
								<li><a href="#">Products/Service</a></li>
								<li><a href="#">Post a Job</a></li>
								<li><a href="#">FAQ</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="footer-widget">
							<h3>Newsletter</h3>
							<p>Earum cumque doloribus, incidunt! Tempora voluptatibus</p>
							<form class="contact-form" method="post" action="#">
								<div class="form-group">
								    <input type="email" class="form-control" required="required" placeholder="Your email Id">
								</div>
							    <div class="form-group">
							        <button type="submit" class="btn btn-primary">Sign Up</button>
							    </div>
							</form>
						</div>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.footer-top -->
		<div class="footer-bottom">
			<div class="container">
				<div class="copyright">
					<p>Copyright © 2017 <a href="#">Seeker.com.</a> All rights reserved.</p>
				</div>
				<div class="footer-social pull-right">
					<ul class="tr-list">
						<li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
		</div><!-- /.footer-bottom -->
	</div><!-- /.footer -->
