<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <!-- <div class="row"> -->
      <!-- <div class="text-center"> -->
        <%= image_tag("small_logo.png", class: "mx-auto d-block") %>
      <!-- </div>
    </div> -->

  </div>
</div>

	<!-- <div class="tr-banner section-before bg-image">
		<div class="container">
			<div class="banner-content text-center"> -->
				<!-- <h1>Woods Recruitment</h1> -->
				<!-- <h2>Let us take the hard work out of find you the right job.</h2> -->
				<!-- <div class="banner-form"> -->
				<!-- </div><!--/.banner-form> -->
		<!-- 	</div><!--/. banner-content -->
		<!-- </div><!-- /.container -->
	<!-- </div><!-- /.tr-banner -->
  <%= render partial: "pages/browse_job_category"%>
	</div><!-- /.tr-category -->
  <%= render partial: "pages/testimonials" %>
	<%= render partial: "pages/fun_fact" %>
	<%= render partial: "pages/steps_to_sign_up" %>
	<%= render partial: "pages/add_resume_banner" %>
	<%= render partial: "layouts/footer" %>
