<div class="tr-breadcrumb bg-image">
	<div class="container section-ourTeam">
		<div class="breadcrumb-info text-center">
			<div class="avatar mx-auto d-block"></div>
			<div class="page-title">
				<h1>Meet the Team</h1>
			</div>
		</div>
	</div><!-- /.container -->
</div><!-- /.tr-breadcrumb -->


<div class="container section-padding">
	<div class="col-sm-12">
		<div class="section">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="row section-success ourTeam-box text-center">
						<div class="col-md-12 section1">
		          <%= image_tag ("andy.jpg"), class:"img-responsive"%>

						</div>
						<div class="col-md-12 section2">
							<p>ANDY WOODWARD</p><br>
							<h1>Managing Director </h1><br>
						</div>
						<div class="col-md-12 section3">
							<p>
								Andy is responsible for our Recruitment and Marketing.
							</p>
						</div>
						<div class="col-md-12 section4">
							<a href="https://www.facebook.com/Woods-Recruitment-Ltd-1698043663799656/" title="Facebook" target="_blank"><i class="fa fa-facebook-official"></i></a>
							<a href="https://twitter.com/Woodsrec" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
							<i  aria-hidden="true"><%= mail_to "andy@woodsrecruitment.co.uk", "", class: "fa fa-envelope"%> </i>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="row section-success  ourTeam-box text-center">
						<div class="col-md-12 section1">
		          <%= image_tag ("tina.jpg"), class:"img-responsive"%>
						</div>
						<div class="col-md-12 section2">
							<p>TINA HOCKENHULL</p><br>
							<h1>Financial Director </h1><br>
						</div>
						<div class="col-md-12 section3">
							<p>
								Tina is responsible for our Administration, Payroll, and Accounts.
							</p>
						</div>
						<div class="col-md-12 section4">
							<a href="https://www.facebook.com/Woods-Recruitment-Ltd-1698043663799656/" title="Facebook" target="_blank"><i class="fa fa-facebook-official"></i></a>
							<a href="https://twitter.com/Woodsrec" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
							<i  aria-hidden="true"><%= mail_to "tina@woodsrecruitment.co.uk", "", class: "fa fa-envelope"%> </i>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="row section-success ourTeam-box text-center">
						<div class="col-md-12 section1">
		          <%= image_tag ("amanda.jpg"), class:"img-responsive"%>
						</div>
						<div class="col-md-12 section2">
							<p>AMANDA LEMMONS</p><br>
							<h1>Marketing Director </h1>
						</div>
						<div class="col-md-12 section3">
							<p>
								Amanda is responsible for our Website and Marketing.
							</p>
						</div>
						<div class="col-md-12 section4">
							<a href="https://www.facebook.com/Woods-Recruitment-Ltd-1698043663799656/" title="Facebook" target="_blank"><i class="fa fa-facebook-official"></i></a>
							<a href="https://twitter.com/Woodsrec" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
							<i  aria-hidden="true"><%= mail_to "amanda@woodsrecruitment.co.uk", "", class: "fa fa-envelope"%> </i>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="row section-success  ourTeam-box text-center">
						<div class="col-md-12 section1">
							<%= image_tag ("cameron.jpg"), class:"img-responsive"%>
						</div>
						<div class="col-md-12 section2">
							<p>CAMERON GRAY</p><br>
							<h1>Business Associate <br>for <i> The North East </i> </h1>
						</div>
						<div class="col-md-12 section3">
							<p>
								Cameron is responsible for our Recruitment and Marketing.
							</p>
						</div>
						<div class="col-md-12 section4">
							<a href="https://www.facebook.com/Woods-Recruitment-Ltd-1698043663799656/" title="Facebook" target="_blank"><i class="fa fa-facebook-official"></i></a>
							<a href="https://twitter.com/Woodsrec" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
							<i  aria-hidden="true"><%= mail_to "cameron@woodsrecruitment.co.uk", "", class: "fa fa-envelope"%> </i>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="row section-success  ourTeam-box text-center">
						<div class="col-md-12 section1">
							<%= image_tag ("lawrence.jpg"), class:"img-responsive"%>
						</div>
						<div class="col-md-12 section2">
							<p>LAWRENCE BOMA WILCOX</p><br>
							<h1>Business Associate <br>for <i> The North East of Scotland</i> </h1>
						</div>
						<div class="col-md-12 section3">
							<p>
								Lawrence is responsible for our Recruitment and Marketing in the Oil & Gas Industry.
							</p>
						</div>
						<div class="col-md-12 section4">
							<a href="https://www.facebook.com/Woods-Recruitment-Ltd-1698043663799656/" title="Facebook" target="_blank"><i class="fa fa-facebook-official"></i></a>
							<a href="https://twitter.com/Woodsrec" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
							<i  aria-hidden="true"><%= mail_to "lawrence@woodsrecruitment.co.uk", "", class: "fa fa-envelope"%> </i>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<%= render partial: "layouts/footer" %>
