<div class="tr-breadcrumb bg-image">
	<div class="container section-ourTeam">
		<div class="breadcrumb-info text-center">
			<div class="avatar mx-auto d-block"></div>
			<div class="page-title">
				<h1>Meet the Team</h1>
			</div>
		</div>
	</div><!-- /.container -->
</div><!-- /.tr-breadcrumb -->


<div class="container section-padding">
	<div class="col-sm-12">
		<div class="section">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="row section-success ourTeam-box text-center">
						<div class="col-md-12 section1">
		          <%= image_tag ("andy.jpg"), class:"img-responsive"%>

						</div>
						<div class="col-md-12 section2">
							<p>ANDY WOODWARD</p><br>
							<h1>MANAGING DIRECTOR</h1><br>
						</div>
						<div class="col-md-12 section3">
							<p>
								Andy manages our Recruitment and Marketing.
							</p>
						</div>
						<div class="col-md-12 section4">
							<i class="fa fa-facebook-official" aria-hidden="true"></i>
							<i class="fa fa-twitter" aria-hidden="true"></i>
							<i class="fa fa-google-plus" aria-hidden="true"></i>
							<i  aria-hidden="true"><%= mail_to "andy@woodsrecruitment.co.uk", "", class: "fa fa-envelope"%> </i>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="row section-info ourTeam-box text-center">
						<div class="col-md-12 section5">
		          <%= image_tag ("tina.jpg"), class:"img-responsive"%>
						</div>
						<div class="col-md-12 section2">
							<p>TINA HOCKENHULL</p><br>
							<h1>FINANCIAL DIRECTOR</h1><br>
						</div>
						<div class="col-md-12 section3">
							<p>
								Tina manages our Administration, Payroll, and Accounts.
							</p>
						</div>
						<div class="col-md-12 section4">
							<i class="fa fa-facebook-official" aria-hidden="true"></i>
							<i class="fa fa-twitter" aria-hidden="true"></i>
							<i class="fa fa-google-plus" aria-hidden="true"></i>
							<i  aria-hidden="true"><%= mail_to "tina@woodsrecruitment.co.uk", "", class: "fa fa-envelope"%> </i>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="row section-danger ourTeam-box text-center">
						<div class="col-md-12 section1">
		          <%= image_tag ("amanda.jpg"), class:"img-responsive"%>
						</div>
						<div class="col-md-12 section2">
							<p>AMANDA LEMMONS</p><br>
							<h1>MARKETING DIRECTOR</h1>
						</div>
						<div class="col-md-12 section3">
							<p>
								Amanda manages our Website and Marketing.
							</p>
						</div>
						<div class="col-md-12 section4">
							<i class="fa fa-facebook-official" aria-hidden="true"></i>
							<i class="fa fa-twitter" aria-hidden="true"></i>
							<i class="fa fa-google-plus" aria-hidden="true"></i>
							<i  aria-hidden="true"><%= mail_to "amanda@woodsrecruitment.co.uk", "", class: "fa fa-envelope"%> </i>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="row section-danger ourTeam-box text-center">
						<div class="col-md-12 section1">
							<!-- = image_tag (""), class:"img-responsive"%> -->
						</div>
						<div class="col-md-12 section2">
							<p>CAMERON</p><br>
							<h1>ASSOCIATE PARTNER</h1>
						</div>
						<div class="col-md-12 section3">
							<p>
								Cameron manages Recruitment and Marketing.
							</p>
						</div>
						<div class="col-md-12 section4">
							<i class="fa fa-facebook-official" aria-hidden="true"></i>
							<i class="fa fa-twitter" aria-hidden="true"></i>
							<i class="fa fa-google-plus" aria-hidden="true"></i>
							<i  aria-hidden="true"><%= mail_to "cameron@woodsrecruitment.co.uk", "", class: "fa fa-envelope"%> </i>
						</div>
					</div>
				</div>
			</div>
	
		</div>
	</div>
</div>
<%= render partial: "layouts/footer" %>
