	<div class="tr-breadcrumb bg-image">
		<div class="container">
			<div class="breadcrumb-info text-center">
				<div class="avatar mx-auto d-block"></div>
				<div class="page-title">
					<h1>Contact Us</h1>
				</div>
			</div>
		</div><!-- /.container -->
	</div><!-- /.tr-breadcrumb -->

	<div class="page-content">
		<div class="container">
			<div class="tr-map">
				<div id="map"></div>
			</div><!-- /.tr-map -->
			<br>

			<div class="contact-section">
				<div class="row">
					<div class="col-12 col-md-12 col-lg-4">
						<div class="section">
							<span class="tr-title">Head Office Info</span>
							<p><%= link_to "Get directions to our head office.", "https://goo.gl/maps/szforAqWmNT2", :target => "_blank", :style=>'color: #7b7b7b;' %>
							</p>
							<ul class="tr-list info-list">
								<li><i class="fa fa-map-signs" aria-hidden="true"></i> <span class="media-body"><br>Redhill House<br>41 Hope St<br>Chester <br>CH4 8BU </span></li>
								<li><i class="fa fa-phone" aria-hidden="true"></i> <span class="media-body"><br>T:<a href="tel:01244 345560 ">01244 345560 </a><br>F: 01244 470400</span></li>
								<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="media-body"><%= mail_to "info@woodsrecruitment.co.uk", "info@woodsrecruitment.co.uk"%> </span></li>
							</ul>
							<span class="tr-title">Social Network</span>
							<div class="social">
								<ul class="tr-list">
									<li><a href="https://www.facebook.com/Woods-Recruitment-Ltd-1698043663799656/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
									<li><a href="https://twitter.com/Woodsrec" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-12 col-lg-8" >
						<div class="section">
							<span class="tr-title">Contact Info</span>
							<p>Please get in contact with us to discuss future partnerships.</p>
							<%= render partial: "contacts/form" %>
						</div>
					</div>
				</div>
			</div>

			<div class="contact-section">
				<div class="row">
				<% @managers.each do |manager| %>
					<div class="col-12 col-md-12 col-lg-4">
						<div class="section">
							<span class="tr-title">Franchise Information for <br><%= manager.franchise_area %></span>
								<ul class="tr-list info-list">
									<li><%= link_to "Get directions to our office.", "https://goo.gl/maps/oJrtCzThSxQ2", :target => "_blank", :style=>'color: #7b7b7b;' %></li>
									<li> <%= manager.franchise_area %> <br> <%= manager.name %> </li>
									<li><i class="fa fa-map-signs" aria-hidden="true"></i> <span class="media-body"><br><%= manager.office %><br><%= manager.street %><br><%= manager.city %><br><%= manager.zip %></span></li>
									<li><i class="fa fa-phone" aria-hidden="true"></i> <span class="media-body"><br>T:<a href="tel: '#{manager.phone_number}' ">01244 345560 </a> <%= manager.phone_number %></span></li>
									<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="media-body"><%= mail_to "info@woodsrecruitment.co.uk", "#{manager.email}"%> </span></li>
								</ul>
						</div>
					</div>

				<% end %>
			</div>
		</div>


		</div><!-- /.container -->
	</div><!-- /.page-content -->

	<%= render partial: "layouts/footer" %>
	<script>
	      function initMap() {
	        var uluru = {lat: 53.1787623, lng: -2.9182475};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 14,
	          center: uluru
	        });
	        var marker = new google.maps.Marker({
	          position: uluru,
	          map: map
	        });
	      }
	    </script>
	    <script async defer
	    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-Vm5ftG314QwOZpU_-GEBHeXdlx8aslw&callback=initMap">
	    </script>
