<div class="tr-breadcrumb bg-image section-before">
	<div class="container">
		<div class="breadcrumb-info text-center">
			<div class="user-image">
				<img src="images/others/author.png" alt="Image" class="img-responsive">
			</div>
  			<div class="user-title">
  				<h1><%= current_candidate.name %></h1>
  			</div>
        <div class="row justify-content-center">
          <div class="col-8">
    			<ul class="job-meta tr-list list-inline">
    				<li><i class="fa fa-map-marker" aria-hidden="true"></i><%= current_candidate.location %></li>
    				<li><i class="fa fa-phone" aria-hidden="true"></i><%= current_candidate.phone_number %></li>
    				<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#"><%= current_candidate.email %></a></li>
    				<li><i class="fa fa-briefcase" aria-hidden="true"></i><%= current_candidate.category.name%></li>
    			</ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-4">
          <%= link_to "Add Resume", new_resume_path, class: "btn btn-primary" %>

          <%= link_to "View Resume", resumes_index_path %>
        </div>
      </div>
		</div>
	</div><!-- /.container -->
</div><!-- /.tr-breadcrumb -->
