%header.tr-header
  %nav.navbar.navbar-default
    .container
      .navbar-header
        %a.navbar-brand{:href => "/"}
          %img.img-responsive= image_tag("woods_logo.jpg")
      .navbar-left
        %ul.sign-in.tr-list

      .navbar-right
        %ul.sign-in.tr-list
          -# %li.padding-nav= link_to "+ New Client", new_client_path
          %button.btn.btn-primary{"data-target" => "#exampleModalCenter", "data-toggle" => "modal", :type => "button"} + New Client
          = render "clients/modal"

          %li.padding-nav= link_to "Live Clients", live_clients_path
          %li.padding-nav= link_to "Dormant Clients", dormant_clients_path
          %li.padding-nav
            %i.fa.fa-user
          %li= link_to "Sign Out", destroy_manager_session_path,:method => :delete
