- if manager_signed_in?
  =render partial: "layouts/manager_navbar"
- elsif candidate_signed_in?
  =render partial: "layouts/candidate_nav_bar"
-else
  %header.tr-header
    %nav.navbar.navbar-default
      .container
        .navbar-header
          %a.navbar-brand{:href => "/"}
            %img.img-responsive= image_tag("woods_logo.jpg")
        .navbar-left
          %ul.sign-in.tr-list

        .navbar-right
          %ul.sign-in.tr-list
            %li.padding-nav= link_to "ABOUT US", about_us_path
            %li.padding-nav= link_to "CONTACT US", contact_us_path
            %li.padding-nav= link_to "JOB VACANCIES", job_vacancies_path
            %li.padding-nav
              %i.fa.fa-user
            %li= link_to "SIGN IN", new_candidate_session_path
            %li.padding-nav= link_to "MANAGER AREA", new_manager_session_path



        / /.sign-in
        -# %a.btn.btn-primary{:href => "job-post.html"} Post Job
      / /.nav-right
    / /.container
  / /.navbar
/ /.tr-header
